<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- spring自己的换管理器，这里定义了两个缓存位置名称 ，既注解中的value -->
    <!-- dummy cacheManager  -->
    <bean id="cacheManager" class="org.springframework.cache.support.CompositeCacheManager">
        <property name="cacheManagers">
            <list>
                <ref bean="simpleCacheManager" />
            </list>
        </property>
        <property name="fallbackToNoOpCache" value="true" />
    </bean>
    <bean id="simpleCacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean class="org.springframework.data.redis.cache.RedisCache">
                    <constructor-arg name="name" value="rc"/>
                    <constructor-arg name="prefix" value="${project.cache.prefix}"/>
                    <constructor-arg name="redisOperations" ref="cache.redisTemplate"/>
                    <!--过期时间:秒-->
                    <constructor-arg name="expiration" value="60"/>
                </bean>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <!--不指定name则表示为默认缓存-->
                    <!--<property name="name" value="default"/>-->
                </bean>
            </set>
        </property>
    </bean>
    <bean id="cacheKeyGenerator" class="com.weili.base.CacheKeyGenerator">
        <property name="keyPrefix" value="${project.cache.prefix}"/>
    </bean>

    <bean id="cache.connectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="usePool" value="true"/>
        <property name="poolConfig" ref="jedisPoolConfig"/>
        <property name="shardInfo" ref="jedis.shardInfo1"/>
    </bean>

    <bean id="cache.redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="cache.connectionFactory"/>
        <property name="keySerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
        </property>
        <property name="hashKeySerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
        </property>
    </bean>


</beans>